body {
	height: 800px;
	width: 100%;
	background-color: #CCC;
}

h1 {
	color: red;
	font-weight: 400;
	text-align: center;
}

p {
	color: blue;
	font-size: 2em;
	text-align: center;
}

.other 
{
	color: orange;
	font-size: 2em;
}